body{
	font-family: MS Sans Serif, Geneva, sans-serif;
	background-color: whitesmoke;
	margin: 0;
	padding:0;
	font-size: 15px;

}
ul{
	padding:0px;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
.aside{
	float: left;
	width: 60%;
	box-sizing: border-box;
}

.aside li{
	background-color: #dcdcdc;
	padding-bottom: 5px;
	padding-right: 5px;
	margin: 5px;
}

.clr{
	clear: both;
}
.dark{
	background-color:mediumseagreen ;
	padding: 15px;
	margin-top: 15px;
	color: white;
}
.dark p{
	margin-top: 0px;
}

.button{
	border: none;
	background-color: black;
	color: white;
	height: 28px;
	padding-left: 20px;
	padding-right: 20px;

}

.button:hover{
	color: #ccc;
}

.aside ul{
	list-style: none;

}

.main-header{
	background-color: mediumseagreen;
	padding-top:10px;
	border-bottom: 5px black solid;

}
#navbar .current a{
	color: white;
	font-weight: bold;

}

.main-header h1{
	margin: 0;
	font-size: 30px;
}

.main-header span{
	color: white;
}


.main-header #brand{
	float: left;
	margin: 10px 0 10px;

}

#navbar{
	float: right;
}

#navbar ul{
	list-style: none;
	padding: 0;

}

#navbar li{
	padding: 0 20px 0 20px;
	float: left;
	display: inline;
	
}

#navbar a{
	text-decoration: none;
	color: black;
	font-size: 14px;
	text-transform: uppercase;
}
#navbar a:hover{
	color: #ccc;
}

#display{
	min-height: 400px;
	min-width:80%;
	background: url(forex.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	color: black;
}
#display h1{
	font-size: 50px;
	margin:50px 0 10px 0;

}
#display p{
	font-size: 15px;
}

#sub{
	background-color: mediumseagreen;

}

#sub h3{
	float: left;
}

#sub form{
	float: right;
	margin-top: 15px;
}

#sub input[type="email"]{
	border: none;
	height: 25px;
	width: 250px;
	padding: 1px;
}

.sidebar{
	float: right;
	width: 30%;
	box-sizing: border-box;
}

.sidebar #form2 label{
	color: black;
	display: block;
	margin-bottom: 2px;
	font-size: 14px;
	font-weight: 340;
}

.sidebar #form2 input[type="text"], .sidebar #form2 input[type="email"],
.sidebar #form2 input[type="number"],.sidebar #form2 .gender{
	padding: 4px 0 4px 0;
	margin-bottom: 6px;
	width: 90%;

}

.sidebar #form2 input[type="checkbox"]{
	margin-top: 6px;
	margin-right: 6px;
	margin-bottom: 0;
}
.sidebar #text {
	margin: 10px 0 10px 0;
	color: black;
	text-transform: uppercase;
	font-size: 14px;
	word-spacing: 0.1em;

}
.dark p span{
	color: black;
}

.rev{
	margin-bottom: 10px;
	font-size: 15px;
}

.rev #case{
	font-weight: bold;
	font-size: 12px;
}


#footer{
	margin-top: 20px;
	background-color: black;
	text-align: center;
	color: white;
	padding: 15px;
	font-size: 15px;
}

@media(max-width: 768px){
	#navbar li{
		padding-left: 10px;
		padding-right: 10px;
	}
	.main-header #brand,#navbar,
	#navbar li,
	#sub h3,
	#sub form,
	.sidebar,
	.aside,
	#display{
		float: none;
		text-align: center;
		width: 100%;
	}

	.sidebar #form2{
		text-align: left;
	}

	#sub form input[type="email"]{
		width: 100%;
		margin-bottom: 5px;
	}
	.sidebar #form2 input[type="text"], 
	.sidebar #form2 input[type="email"],
	.sidebar #form2 input[type="number"],
	.sidebar #form2 .gender{
		width: 100%;
	}


	.button,#x2{
		width: 100%;
		margin-bottom: 5px;
	}
	#display{
		background-size: cover;
		width: 100%;
	}


}
@media(max-width: 375px){
	.container #navbar{
		width: 100%;
	}
	#navbar li{
		padding-left: 5px;
		padding-right: 5px;
	}

	.main-header #brand,#navbar,
	#navbar li,
	#sub h3,
	#sub form,
	.sidebar,
	.aside,
	#display{
		float: none;
		text-align: center;
		width: 100%;
	}

	.sidebar #form2{
		text-align: left;
	}

	#sub form input[type="email"]{
		width: 100%;
		margin-bottom: 5px;
	}
	.sidebar #form2 input[type="text"], 
	.sidebar #form2 input[type="email"],
	.sidebar #form2 input[type="number"],
	.sidebar #form2 .gender{
		width: 100%;
	}


	.button,#x2{
		width: 100%;
		margin-bottom: 5px;
	}
	#display{
		background-size: cover;
		width: 100%;
	}


}



